{% load static %}
{% load profile_tag %}
{% get_profile as profile %}
{% get_notes as notes %}

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Notes</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li class="img"><img src="{% static 'images/note.png' %}"/></li>
            <li><a href="{% url 'home-page' %}">Notes</a></li>
            {% if profile %}
                <li class="right">
                    <a href="{% url 'add-note' %}">Add Note</a>
                    <a href="{% url 'profile' %}">Profile</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
{% block content %}
{% if profile %}
    <h1>My Notes</h1>
    {% if notes %}
        {% for note in notes %}
            <div class="note-container">
            <h2>{{ note.title }} <img alt="image" src="{{ note.image_url }}"/></h2>
            <div class="right">
                <a class="button details" href="{% url 'details-note' pk=note.id %}">Details</a>
                <a class="button edit" href="{% url 'edit-note' pk=note.id %}">Edit</a>
                <a class="button delete" href={% url 'delete-note' pk=note.id%}>Delete</a>
            </div>
        {% endfor %}
    </div>
        </div>
    {% else %}
        <h2>There are no notes.</h2>
    {% endif %}
{% else %}
    <div class="body">
        <h1>Enter Your Data</h1>
        <div class="form">
            <form method="POST">
                {{ form }}
                {% csrf_token %}
                <input type="submit" value="SUBMIT" />
            </form>
        </div>
    </div>

{% endif %}
{% endblock %}
<footer>
    <div>Python Web Basics Exam @SoftUni</div>
</footer>
</body>
</html>
